#fetch{
    padding-top: -5px;
}
.not-ok {
    background-color: rgb(230, 41, 41);
    color: white;
}

.ok {
    background-color: rgb(97, 228, 97);
    color: black;
}

a {
    background-repeat: none;
    size: co;
}

#our-Services
{
    width: inherit; height: 40px;

     background-image: url(../pics/grass.jpg);
     background-repeat:no-repeat  ;
     background-color: rgb(0, 252, 134);
     background-position: bottom;
}
#text-15{
    height:500;
    background-color: black;
    color:white;

    text-align :center;
}
